*{

margin:0%;
}
p
{
    font-weight:bold;
}
.star
{
    color:red;
}
  #email1
{
    width:30%;
    height:5%;

}
.name
{
    width:15%;
    height:5%;


}
#spacing
{
    word-spacing:365px;
    font-size:10px;
    
}
.star2
{
width:20px;
height:20px;
}
#overall
{
    font-size:15px;
    font-weight:normal    
}
.table1,.table2
{

text-align: center;
width:75%;
border-collapse: collapse;
}
#grey
{
    background-color:lightgrey;
}

#comments
{
    width:75%;
    
}
#submit
{
    padding:10px;
}



